---
import Section from "../Section.astro";

const { work, title } = Astro.props;

const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
---

<Section title={title}>
  <ul>
    {
      work.map(
        ({ name,
          startDate,
          endDate,
          position,
          summary,
          url
        } :{
          name: string;
          startDate: string;
          endDate: string;
          position: string;
          summary: string | string[];
          url: string;
        }) => {
          const startMonth = new Date(startDate).getMonth() + 1
          const startYear = new Date(startDate).getFullYear()

          let endDateFinal = 'Current'
          if(endDate != null){
            endDateFinal = months[new Date(endDate).getMonth() + 1]
            endDateFinal += ' ' + new Date(endDate).getFullYear()
          }
          const years = `${months[startMonth]} ${startYear} - ${endDateFinal}`

          const summaryArray = Array.isArray(summary) ? summary : []

          return (
            <li>
              <article>
                <header>
                  <div>
                    <h3>
                      <a href={url} title={`See ${name}`} target="_blank">
                        {name}
                      </a>
                    </h3>
                    <h4>{position}</h4>
                  </div>

                  <time>{years}</time>
                </header>

                <footer>
                  <ul>
                  {summaryArray.map(summaryItem => (
                    <li>{summaryItem}</li>
                  ))}
                  </ul>
                </footer>
              </article>
            </li>
          )
        }
      )
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-size: ;
  }

  article h3 {
    font-weight: 500;
    color: #111;
  }

  article a {
    color: #111;
  }

  article a:hover {
    text-decoration: underline;
  }

  article h4 {
    color: #222;
    font-weight: 400;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    color: #555;
    font-size: 0.85rem;
    min-width: 102px;
  }

  footer {
    margin-top: 1rem;
  }

  footer ul {
    display: ruby;
    list-style-type: none;
  }

  footer li {
    font-size: 13px;
  }

  footer li:not(:last-child)::after {
    content: "•";
    margin-right: 0.5rem;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
