---
import { Image } from "astro:assets"
import gravatarUrl from 'gravatar-url';
import Section from "@/components/Section.astro"
import '@tabler/icons-webfont/dist/tabler-icons.min.css';

const { basics, profiles } = Astro.props;
const imageURL = gravatarUrl(basics.email, {size: 128});

const linkedInfo = profiles.find(({ network }: { network: string; url: string; username: string; icon: string }) => network === "LinkedIn")
const linkedUrl = linkedInfo?.url

const printInfo = [basics.email, basics.phone, linkedUrl].filter(Boolean).join(" • ")
---

<Section>
  <div class="container">
    <div class="info">
      <h1>{basics.name}</h1>
      <h2>{basics.label}</h2>
      <span>
        <i class="ti ti-world"></i>
        {basics.city}, {basics.country}
      </span>
      <footer class="print">
        {printInfo}
      </footer>
      <footer class="no-print">
        {
          basics.email && (
            <a
              href={`mailto:${basics.email}`}
              title={`Send an e-mail to ${basics.name} at ${basics.email}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <i class="ti ti-mail"></i>
            </a>
          )
        }
        {
          basics.phone && (
            <a
              href={`tel:${basics.phone}`}
              title={`Call ${basics.name} by phone at ${basics.phone}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <i class="ti ti-phone"></i>
            </a>
          )
        }
        {
          profiles.map(({ network, icon, url }: { network: string; name:string; icon: string; url: string }) => {
            return (
              <a
                href={url}
                title={`Visit the profile of ${basics.name} in ${network}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class=`ti ti-brand-${icon}`></i>
              </a>
            )
          })
        }
      </footer>
    </div>
    <figure>
      <Image
        src={imageURL}
        alt={basics.name}
        width={128}
        height={128}
        loading="lazy"
        decoding="async"
      />
    </figure>
  </div>
</Section>

<style>
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-right: 32px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    color: #444;
    font-weight: 500;
    font-size: 1.1rem;
    text-wrap: balance;
  }

  img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 128px;
    border-radius: 16px;
  }

  span {
    color: #666;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.85rem;
    letter-spacing: -0.05rem;
  }

  i.ti {
    color: #777;
    font-size: 1.5rem;
  }

  footer {
    color: #555;
    font-size: 0.65rem;
    display: flex;
    gap: 4px;
    margin-top: 8px;
  }

  footer a {
    color: #777;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    padding: 4px;
    height: 32px;
    width: 32px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }

  footer a:hover {
    background: #eee;
    border: 1px solid #ddd;
  }

  @media (width <= 700px) {
    .container {
      flex-direction: column-reverse;
    }

    .info {
      justify-content: center;
      align-items: center;
      padding-right: 0;
      text-align: center;
    }

    figure {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h2 {
      text-wrap: balance;
    }

    figure {
      margin: 0 auto;
    }
  }
</style>
