---
import Layout from "@/layouts/Layout.astro"

import About from "@/components/sections/About.astro"
import Education from "@/components/sections/Education.astro"
import Experience from "@/components/sections/Experience.astro"
import Hero from "@/components/sections/Hero.astro"
import Projects from "@/components/sections/Projects.astro"
import Skills from "@/components/sections/Skills.astro"
import KeyboardManager from "@/components/KeyboardManager.astro"

import { basics, work, education, projects, skills } from "@cv"
const { name, label } = basics
---

<Layout title={`Portafolio de ${name} - ${label}`}>
  <main>
    <Hero basics={basics} />
    <About summary={basics.summary} title="Sobre mí" />
    <Experience work={work} title="Experiencia" />
    <Education education={education} title="Educación" />
    <Projects projects={projects} title="Proyectos" />
    <Skills skills={skills} title="Habilidades" />
  </main>

  <KeyboardManager />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>
