---
import Layout from "@/layouts/Layout.astro"

import About from "@/components/sections/About.astro"
import Education from "@/components/sections/Education.astro"
import Experience from "@/components/sections/Experience.astro"
import Hero from "@/components/sections/Hero.astro"
import Projects from "@/components/sections/Projects.astro"
import Skills from "@/components/sections/Skills.astro"
import KeyboardManager from "@/components/KeyboardManager.astro"

import {
  getBasic,
  getProfiles,
  getExperiences,
  getEducations,
  getProjects,
  getSkills
} from "../lib/datocms"

const lang = "en"

const basics = await getBasic(lang)
const profiles = await getProfiles()
const work = await getExperiences(lang)
const education = await getEducations(lang)
const projects = await getProjects(lang)
const skills = await getSkills(lang)
---

<Layout title={`Curriculum Vitae of ${basics.name} - ${basics.label}`}>
  <main>
    <Hero basics={basics} profiles={profiles} />
    <About summary={basics.summary} title="About me" />
    <Experience work={work} title="Experience" />
    <Education education={education} title="Education" />
    <Projects projects={projects} title="Projects" />
    <Skills skills={skills} title="Skills" />
  </main>

  <KeyboardManager lng={lang} />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>
